<div class="advantages bg-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 advantages__advantage">
        <i class="fa fa-clock-o fa-4x"></i>
        <h6 class="text-dark">FAST DELIVERY</h6>
        <div class="divider bg-info"></div>
        <p class="text-secondary">Everything you order at Lorem Ipsum Pizza will be quickly delivered to your door.</p>
      </div>
      <div class="col-sm-4 advantages__advantage">
        <i class="fa fa-product-hunt fa-4x"></i>
        <h6 class="text-dark">FRESH FOOD</h6>
        <div class="divider bg-info"></div>
        <p class="text-secondary">We use only the best ingredients to cook the tasty fresh food for you.</p>
      </div>
      <div class="col-sm-4 advantages__advantage">
        <i class="fa fa-list fa-4x"></i>
        <h6 class="text-dark">A VARIETY OF DISHES</h6>
        <div class="divider bg-info"></div>
        <p class="text-secondary">In our menu you’ll find a wide variety of pizzas.</p>
      </div>
    </div>
  </div>
</div>
