<div class="container">
  <div class="carousel-container d-none d-sm-block">
    <ngb-carousel *ngIf="images" style="outline: none">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[0]" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h1>Lorem Ipsum Pizza</h1>
          <p>Pleases with taste and appearance.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[1]" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h1>Taste which</h1>
          <p>Impossible to forget!</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[2]" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h1>A variety of pizzas</h1>
          <p>From classics to fish.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

</div>
