.logo {
  width: 200px;
  margin-bottom: 10px;
}

.info {
  margin-bottom: 10px;

  p {
    margin-bottom: 0;
    font-size: 14px;

    span {
      font-weight: bold;
    }
  }
}


.social-network {
  li {
    float: left;
    margin-right: 10px;
  }
}
