<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>
          About <span class="text-info">Lorem Ipsum</span> Pizza
        </h1>
        <p class="text-secondary">
          Lorem Ipsum Pizza, one of today’s most renowned fast food restaurants, was established in 2020, as a quiet
          place where anyone could have a pizza that they loved. Our dedication to customers and quality food helps us
          to
          reach more today.
        </p>
        <ul class="list-unstyled">
          <li>
            <span class="text-info">1+</span>
            <p>years served</p>
          </li>
          <li>
            <span class="text-info">1500+</span>
            <p>
              pizzas made
            </p>
          </li>
          <li>
            <span class="text-info">100+</span>
            <p>
              clients daily
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
