<div class="menu">
  <div class="container">
    <h2>Menu</h2>
    <hr>
    <div class="row">
      <div class="col-sm-6 col-md-3 item" *ngFor="let pizza of pizzas">
        <div class="text-center">
          <img [src]="pizza.imageUrl" class="item__image" alt="{{pizza.title}}">
        </div>
        <h5 class="item__title">
          {{pizza.title}}
        </h5>
        <p class="item__description text-secondary">
          {{ pizza.description }}
        </p>
        <div class="item__footer">
          <span class="item__price">
            {{ pizza.price }} $
          </span>
          <button
            (click)="addToCart(pizza)"
            type="button"
            class="btn btn-outline-secondary item__action">
            <i class="fa fa-shopping-cart"></i>
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
