.partners {
  padding: 100px 0;
  p {
    padding: 0 100px;
  }
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__item {
      width: 200px;
    }
  }
}


@media screen and (max-width: 768px) {
  .partners{
    &-container {
      flex-direction: column;
      &__item {
        margin: 20px 0;
      }
    }
  }
}
