<div class="container">
  <div class="checkout">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4 logo" src="assets/images/logo.png" alt="Logo">
      <h2>Checkout form</h2>
      <div class="alert alert-warning">Below is an example form built entirely with Bootstrap's form controls. Each
        required form group has
        a validation state that can be triggered by attempting to submit the form without completing it.
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Your cart</span>
          <span class="badge badge-secondary badge-pill">{{count}}</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let cartItem of cartItems">
            <div>
              <h6 class="my-0">{{ cartItem.item.title }}</h6>
              <!--              <small class="text-muted">{{ cartItem.item.description }}</small>-->
            </div>
            <span class="text-muted">${{cartItem.item.price}} x {{ cartItem.quantity }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed bg-light text-info">
            <div>
              <h6 class="my-0">Delivery cost</h6>
              <!--              <small class="text-muted">{{ cartItem.item.description }}</small>-->
            </div>
            <span class="text-muted">$10</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>${{ totalPrice + 10 }}</strong>
          </li>
        </ul>
      </div>
      <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Billing address</h4>
        <form class="needs-validation" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">First name</label>
              <input formControlName="firstName"
                     type="text"
                     class="form-control"
                     id="firstName"
                     placeholder="Please enter you first name"
                     required>
              <div class="invalid-feedback"
                   [ngStyle]="{'display': firstName.invalid && (firstName.dirty || firstName.touched) ? 'block' : 'none'}">
                Valid first name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Last name</label>
              <input formControlName="lastName"
                     type="text"
                     class="form-control"
                     id="lastName"
                     placeholder="Please enter your last name"
                     required>
              <div class="invalid-feedback"
                   [ngStyle]="{'display': lastName.invalid && (lastName.dirty || lastName.touched) ? 'block' : 'none'}">
                Valid last name is required.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="email">Email</label>
            <input formControlName="email"
                   type="email"
                   class="form-control"
                   id="email"
                   placeholder="Please enter your email address">
            <div class="invalid-feedback"
                 [ngStyle]="{'display': email.invalid && (email.dirty || email.touched) ? 'block' : 'none'}">
              Please enter a valid email address for shipping updates.
            </div>
          </div>

          <div class="mb-3">
            <label for="address">Address</label>
            <input formControlName="address"
                   type="text"
                   class="form-control"
                   id="address"
                   placeholder="Please enter your address"
                   required>
            <div class="invalid-feedback"
                 [ngStyle]="{'display': address.invalid && (address.dirty || address.touched) ? 'block' : 'none'}">
              Please enter your shipping address.
            </div>
          </div>

          <hr class="mb-4">

          <h4 class="mb-3">Payment</h4>

          <div class="d-block my-3">
            <div class="custom-control custom-radio">
              <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required
                     disabled>
              <label class="custom-control-label" for="credit">Credit card</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required disabled>
              <label class="custom-control-label" for="debit">Debit card</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required disabled>
              <label class="custom-control-label" for="paypal">Paypal</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="cc-name">Name on card</label>
              <input type="text" class="form-control" id="cc-name" value="Ulugbek Samigjonov" required disabled>
              <small class="text-muted">Full name as displayed on card</small>
              <div class="invalid-feedback">
                Name on card is required
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="cc-number">Credit card number</label>
              <input type="text" class="form-control" id="cc-number" value="4578 4532 5643 9173" required disabled>
              <div class="invalid-feedback">
                Credit card number is required
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
              <label for="cc-expiration">Expiration</label>
              <input type="text" class="form-control" id="cc-expiration" value="10/22" required disabled>
              <div class="invalid-feedback">
                Expiration date required
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="cc-expiration">CVV</label>
              <input type="text" class="form-control" id="cc-cvv" value="902" required disabled>
              <div class="invalid-feedback">
                Security code required
              </div>
            </div>
          </div>
          <hr class="mb-4">
          <button [disabled]="checkoutForm.invalid"
                  class="btn btn-outline-secondary btn-lg btn-block"
                  type="submit">Continue to checkout
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
